.App {
  text-align: center;
}
.App-tabBar{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}
.App-tabBar .am-tab-bar-bar .am-tab-bar-tab-icon{
  width: 100%;
}
.App-tabBar .am-tab-bar-bar .am-tab-bar-tab-icon a{
  display: inline-block;
  width: 100%;
}
.App-tabBar .icon{
  font-size: 20px;
}
.App-tabBar .icon.selected{
  font-size: 20px;
  color: blue;
}
.App-tabBar .title{
  display: block;
}
.App-tabBar .icon.selected+.title{
  color: blue;
  font-weight: bold;
}